# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Build results
target/
build/

# IDEs
.vscode/
.idea/
*.iml

# Auto-gen
.cargo-ok
/scripts/.env
/scripts/node_modules/
/new_scripts/node_modules/
/new_scripts/.env
#/scripts/package-lock.json
/artifacts/*.wasm
/artifacts/old
/artifacts/checksums_intermediate.txt
/artifacts/checksums.txt
/artifacts/localterra.json
/artifacts/localterra_data.json
mytestnet/